.detail-hero-bg {
    background: linear-gradient(rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.8)),
        url('../images/exotic\ about\ page.png') center/cover;
}

.card-img-top {
    height: 260px;
    object-fit: cover;
}

.hero-bg {
    background: linear-gradient(rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.8)),
        url('images/exotic\ about\ page.png') center/cover;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}